<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="L2B Vendor" verbose="1" parallel="none" thread-count="1" preserve-order="true">
    <listeners>
        <listener class-name="com.l2b.vendor.utils.TestListener"/>
        <!-- AllureTestNg is auto-registered by allure-testng; do not add it twice. -->
    </listeners>

    <test name="01 Splash screen" preserve-order="true">
        <classes>
            <class name="com.l2b.vendor.tests.SmokeTest">
                <methods>
                    <include name="splashScreen"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="02 Language screen" preserve-order="true">
        <classes>
            <class name="com.l2b.vendor.tests.SmokeTest">
                <methods>
                    <include name="languageScreen"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="03 Onboarding slide 1" preserve-order="true">
        <classes>
            <class name="com.l2b.vendor.tests.SmokeTest">
                <methods>
                    <include name="onboardingSlideOne"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="04 Onboarding slide 2" preserve-order="true">
        <classes>
            <class name="com.l2b.vendor.tests.SmokeTest">
                <methods>
                    <include name="onboardingSlideTwo"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="05 Sign up screen" preserve-order="true">
        <classes>
            <class name="com.l2b.vendor.tests.SmokeTest">
                <methods>
                    <include name="signUpScreen"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="06 OTP screen" preserve-order="true">
        <classes>
            <class name="com.l2b.vendor.tests.SmokeTest">
                <methods>
                    <include name="otpScreen"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
